@model FulfillmentRequestErrorViewModel

@{
    ViewData["Title"] = "MailActionError";
}

<h1>Mail Action Error</h1>

<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr>
            <td>
                Raw result
            </td>
            <td>
                <p>@Model.RawResponse</p>
            </td>
        </tr>
        <tr>
            <td>
                Status code
            </td>
            <td>
                <p>@Model.StatusCode</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>