@model ActivateActionViewModel

@{
    ViewData["Title"] = "Activate";
}

<h1>Subscription updated</h1>
<br/>

<div class="table-responsive">
    <table class="table">
        <tbody>
        <tr>
            <td>
                Subscription
            </td>
            <td>
                <p>@Model.SubscriptionId</p>
            </td>
        </tr>
        <tr>
            <td>
                Plan
            </td>
            <td>
                <p>@Model.PlanId</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>