@{
    ViewData["Title"] = "NotAuthorized";
}

<h1>NotAuthorized</h1>

<p>
    The user (@User.Identity.GetUserEmail()) is not authorized to use this. Please modify the Dashboard:DashboardAdmin setting to the account you are logging on.
</p>